<!-- <div class="container"> -->
  <div style="width:100%;" class="parallax-container" >
       <div class="parallax" >
         <img class="responsive-img img"    src="assets/img/DSC_0211.jpg" >
       </div>
  </div>

     <div class="section white img-bacground col l12">
       <div class="container col l12">
           <div class="row col l12">
             <div class="col l6 Facebook">
                 <div class="card col l11">
                   <div class="card-image">
                     <span class="card-title">Facebook</span>
                   </div>
                   <div class="card-content facewall">
                     <fb-page href="https://www.facebook.com/pg/rigovanco/reviews/?ref=page_internal" 
                     tabs="timeline" 
                      adaptContainerWidth="true"
                      data-show-facepile="true" ></fb-page>
                   </div>
                 </div>
             </div>
             <div class="col l6  instafeed">
               <div class="card col l12">
                 <div class="card-image col l12">
                   <span class="card-title">Instagram</span>
                 </div>
                 <div class="card-content facewall ex1 col l12 s12 m12 ">
                   <div  id="instafeed"></div>
                 </div>
               </div>
             </div>
          </div>
     </div>
     <!-- <div class="parallax-container">
       <div class="parallax"><img src="assets/img/"></div>
     </div> -->


   </div>
<!-- </div> -->
