

<div class="row" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
  <h2 >{{title}}</h2>
  <form #formAddArtist="ngForm" (ngSubmit)="onSubmit()" class="col s12" >

            <div class="row">
                <div class="input-field col s6 m6">
                  <input  type="text" data-length="10" name="name" #name="ngModel" [(ngModel)]="artist.name">
                  <div *ngIf="!is_edit">
                    <label  for="input_text">Nombre </label>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea2" class="materialize-textarea" data-length="120" name="description" #description="ngModel"  [(ngModel)]="artist.description"></textarea>
                  <div *ngIf="!is_edit" >
                    <label  for="textarea2">Descripción</label>
                  </div>
                </div>
            </div>
            <div class="row" *ngIf="is_edit">
                <div class="input-field image_for_edit" *ngIf="artist?.image && artist?.image != 'null'">
                    <img src="{{url + 'upload-img-artist/' + artist.image }}" style="whidth: 60px; height:50px"/>
                </div>
                <div class="input-field">
                    <div class="custom-file">
                        <input type="file" class="validate" id="inputFile" (change)="fileChangeEvent($event)" >
                    <label for="inputFile" class="validate">
                        Please chose a file.
                    </label>
                  </div>
                </div>
            </div>
          <div class="row col m12">
          <input type="submit" value="{{ title }}" class="btn btn-success">
        </div>
    </form>
  </div>
