
<div class="container edit">
  <h2>{{title}}</h2>
  <div class="row" class="col s2 m2">
    <div class="col s6 m6">
      <div class="alert alert-success" *ngIf="status =='success'" >
          Has Actualizado correctamente tu información
      </div>
      <div class="alert alert-danger" *ngIf="status == 'error'" >
          No se han actualizado tus datos
      </div>
      <form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col s2 m2 form-edit" >
        <div class="input-field">
          <label  for="name" >Nombre</label><br>
          <input type="text" class="validate" id="nombre" name="name" #name="ngModel" [(ngModel)]="user.name"  >
          <p  *ngIf="user.name == ''">
            Please enter a Name.
          </p>
        </div>
        <div class="input-field">
          <label for="apellido" >Apellido</label><br>
          <input type="text" class="validate" name="apellido" #apellido="ngModel" [(ngModel)]="user.surname" id="apellido" >
          <label for="apellido" *ngIf="user.surname == ''">
            Please enter a Last Name.
          </label>
        </div>
        <div class="input-field">
          <label >Email address</label><br>
          <input type="email" class="validate" name="email" #email="ngModel" [(ngModel)]="user.email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
          <label for="email" *ngIf="user.email == ''">
            Please enter a email .
          </label>
          <div class="input-field image_for_edit" *ngIf="user.image && user.image != 'null'">
            <img src="{{ url + 'get-image-file/' + user.image }}" style="whidth: 60px; height:50px"/>
            {{user.image}}
          </div>
          <div class="input-field">
          <div class="custom-file">
            <input type="file" class="validate" id="inputFile" (change)="fileChangeEvent($event)" >
            <label for="inputFile" class="validate">
              Please chose a file.
            </label>
          </div>
          </div>
        </div>
        <input type="submit" class="btn " value="{{title}}" [(disabled)]="!userEditForm.form.valid"/>
      </form>
    </div>
  </div>
</div>
