

.admin{
  margin-left: 1rem;
  height: 10rem;
}
.nav-wrapper{
  margin-left: 5rem !important;
}
nav{
  /* padding-top:5px; */
  padding-bottom: 14px;
  top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
}


li a:hover{
  background-color: #212121;
  color:#fff;
}

/* img {
  padding-top: 3px;
  height: auto!important;
} */


.select-wrapper {
  width: 80%;
  color :white;
  /* background-color: red; */
  border-bottom:0px !important;
  margin-left: 2rem;
}

.li{
  color: red !important;
  background-color: white !important;
  padding-top: 10px !important;
}
.grey {
    background-color: #f6f6f6 !important;
    /* background-image: url('assets/img/background.jpg'); */
}

.icon{
  height: 2rem;
}

.img-navBar{
  margin-top: 9px !important;
  margin-right: 1px !important;
  width: 50px !important;
  height:40px!important;
}
/* .img{
  width: 30px!important;
  height: 1px!important;
} */
/* .dropdown-trigger {
    cursor: pointer;
    margin-left: 27px;
} */


.album{
  width: 10px !important;
  height: 20px !important;
}

.session{
  margin-right: 20px;
}

nav .sidenav-trigger i {
    height: 74px !important;
    line-height: 73px;
    margin-left: -59px;
}

nav .brand-logo{
  margin-top: 6px;
}

nav ul {
  margin: -4px;
}

.edit{
  margin-top: 4rem !important;
}