

<div class="row">
  <div class="col m2 admin" *ngIf="identity && identity.role == 'ROLE_ADMIN'">

      <h4> {{title}}</h4>
        <div class="input-field col s12" >
          <a class="btn waves-effect waves-light col m12" routerLinkActive="active" [routerLink]="['listado']" ><i class="material-icons">info</i>List Albums</a>
          <a class="btn waves-effect waves-light col m12" routerLinkActive="active" [routerLink]="['crear']" ><i class="material-icons">add</i>Crear Album</a>
          <!-- <a class="btn waves-effect waves-light col m12" routerLinkActive="active" [routerLink]="['crear-album']" ><i class="material-icons">add</i>Cargar Album</a> -->
          <a class="btn waves-effect waves-light col m12" routerLinkActive="active" [routerLink]="['listado']" ><i class="material-icons">Edit</i>Editar Album</a>
          <a class="btn waves-effect waves-light col m12" routerLinkActive="active" [routerLink]="['listado']" ><i class="material-icons">info</i>Editar Cancion</a>
          <a class="btn waves-effect waves-light col m12" routerLinkActive="active" [routerLink]="['list-artist',1]" ><i class="material-icons">featured_play_list</i>List Artist</a>
          <!-- <a class="btn waves-effect waves-light col m12" routerLinkActive="active" [routerLink]="['artist-add']" ><i class="material-icons">info</i>Add Artist</a> -->
        </div>


  </div>
  <div class="col m10">
    <div class="container">
          <router-outlet></router-outlet>
    </div>

  </div>

</div>
