.row .admin .sidenav{
  /* padding-top: 3rem !important; */
  margin-top: 4.4rem;
  height:  35rem;
}
.material-icons{
  width: 4rem;
  height: 3rem;
}

.circle{
  width: auto;
}

.img1{
  width: 20rem;
  height: 12rem;
}

.img-circle{
  width: 2rem;
  height: 2rem;
}
a{
  margin-bottom: 10px;
}
