
  <nav class="black responsive-img col l12 m6 s3">
      <div class="nav-wrapper black col l12 m6 s3">
        <a href="#!" class="brand-logo">   <img src="assets/img/logo.png"   alt=""></a>
        <a href="#"   data-target="mobile-demo" class="sidenav-trigger sidenav-close"><i class="material-icons">dehaze</i></a>
        <ul class="right hide-on-med-and-down">
          <li routerLinkActive="active"><a  href="#!">Inicio</a></li>
          <li routerLinkActive="active"><a [routerLink]="['we']">Nosotros</a></li>
          <li routerLinkActive="active"><a [routerLink]="['contacto']" >Contactanos</a></li>
          <li routerLinkActive="active"><a [routerLink]="['home']" >Musica</a></li>
          <li routerLinkActive="active"><a [routerLink]="['movies']" >Videos</a></li>
          <li routerLinkActive="active"><a [routerLink]="['login']" >Registrate</a></li>
          <li routerLinkActive="active" *ngIf="identity" >
          <a class='dropdown-trigger' href='#' target="_self" data-target='dropdown2' >Drop Me!</a>
            <ul id='dropdown2' class='dropdown-content' >
              <li routerLinkActive="active"><a  [routerLink]="['/admin-panel']">Admin</a></li>
              <li><a class="dropdown-item" [routerLink]="['/mis-datos']">Mis datos</a></li>
              <li><a (click)="logout()">Salir</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav sidenav-close" id="mobile-demo">
      <li routerLinkActive="active"><a [routerLink]="['home']"  >Inicio</a></li>
      <li routerLinkActive="active"><a [routerLink]="['we']"   >La Banda</a></li>
      <li routerLinkActive="active"><a [routerLink]="['movies']" >Videos</a></li>
      <li routerLinkActive="active"><a [routerLink]="['contacto']" >Contactanos</a></li>
      <li routerLinkActive="active"><a [routerLink]="['login']" >Registrate</a></li>
    </ul>
