.player{
  display: flex;
  align-items: center;
  justify-content: center;
}


.play-imaga  {
  height: 10% !important;
  display: flex;
}

.row{
  background: #1c1c1F;
  height: 156px;
  bottom:0;
  padding: 20px;
  margin-left: -15px;
  border-left: 1px solid #444;
}


.row .player .album-image img{
  height: 50px;
}
.row{
  margin-bottom: 0;

}
img{
  height: 110px;
  width: 120px;
}

.player .audio-file{
  width:85%;
  height: 48px;
  margin-top: -7px;
  margin-left: 10px;
  float:left;
}

.player audio{
  max-width: 100%;
  /* position: inherit; */
}
.artist{
  margin-top: 20px;
}

.audio-file{
  margin-bottom: 1rem;
  margin-top: 30px;
  flex:auto;
  align-items: center;
}

.color-song-det{
  color:red;

}

.row .col.s12 {
    /* width: 100%; */
    margin-left: auto;
    left: auto;
    right: auto;
}
