.margen{
  padding-top: 20px;
}

.section {
  background-image: url('/assets/images/background.jpg');
  background-size: 100% 100%;
}

.musicians {
  padding-top: 30px;
}

span{
  display: flex;
}

.img{
  flex: auto;
  justify-content: center;
  align-items: center;
  width: 158px;
  height: 188px;
  margin: 0 auto;
}

.img-logo{
  flex: auto;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 180px;
}
.sing-duo{
  margin-left: 14px;
}



.sing{
  flex: auto;
  justify-content: center;
  align-items: center;
  width: 45px !important;
  height: 75px !important;
  display: flex;
  float: right;
}

.rigov{
  margin-top: 33px;
}

span{
  font-family: fantasy;
  font-size: 1.2em;
  line-height: 1.6;
}