<div class="section grey lighten-2">
  <div class="container musicians">
      <div class="col s12 m12 offset-m2 l6 offset-l3 hoverable ">
          <div class="card-panel grey lighten-5 z-depth-1 rigov">
            <div class="row valign-wrapper col s12 m12 l12">
                  <!-- <img src="assets/img/logo3.png"  class="responsive-img circle z-depth-2 hide-on-small-only img-logo"> notice the "circle" class -->
                <div class="col s12 m12">
                  <h4><img class="sing-duo responsive-img" src="assets/fotos disco/portada_logo.jpg"></h4>
                  <span class="black-text col s12 m12" style="text-align: justify;">
                         El Dúo RigoVanco nace en el año 2014 cuando Miguel Vivanco y Rodrigo Jeldes comienzan su proyecto 
                         musical con la idea de poder plasmar la composición propia, una inquietud que ya venia 
                         creciendo desde hace mucho tiempo, una necesidad de empezar a componer y crear nuestras 
                         propias ideas, después de haber tocado juntos en distintas bandas a lo largo del país y
                         en agrupaciones de tipo tropical de los cuales destacaban los eventos de fiestas, matrimonios, 
                         bautizos, etc. <br> <br>
                         Rodrigo y Miguel comienzan su incursión en la música desde la Universidad cuando ambos estudiaban 
                         La carrera de Pedagogía en música y licenciatura en educación, fue ahí cuando se conocieron 
                         y comenzaron a compartir su pasión por la música y juntos crean la primera agrupación musical 
                         que se llamo "5 piso", que después con el tiempo paso a tener otro nombre, en esa agrupación tocaron 
                         por más de 8 años juntos. También crearon dos agrupaciones más en las cuales también solo tocaban 
                         música cover con la intención de poder generar ingresos económicos. <br><br>
                         Aburridos de la rutina es que ahora juntos crean su primer disco musical, el cual tiene sus orígenes 
                         en el año 2014, desde los más profundo de sus gustos personales como el rock, el blues, 
                         la musica latina y el pop.  El disco fue terminado en el año 2019 en los estudios de Castillo Sonoro 
                         y quedando con el nombre "Ese es el camino" pretende ser el primero de 
                         una serie de discos más que el dúo pretende grabar.
                  </span>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
