/* You can add global styles to this file, and also import other style files */
@import "./assets/materialize/css/materialize.min.css";


.color-song {
    color: #f6f6f6 !important;
    /* background-image: url('assets/img/background.jpg'); */
}


.logo{
    width: 90px !important;
    height: 45px !important;
}

.edit{
    margin-top: 4rem !important;
    padding-bottom: 5px;
}