<footer class="page-footer black col l12">
          <div class="container col s12">
              <div class="row">
                  <div class="col l12 s12">
                      <h5 class="white-text">Manager Contact and Diseñador sitio Web</h5>
                      <div class="footer-copyright">
                        © 2018 Rodrigo Jeldes Ponce Desarrollor Web,  contacto Fono: <a href="tel:+56987945765">9 87945765</a>
                         Email: Rigovanco@gmail.com
                         <a href="#!" target="_blank">
                          <img src="http://hitwebcounter.com/counter/counter.php?page=7028406&style=0005&nbdigits=5&type=page&initCount=0" title="Home Remedies For Wrinkles" Alt="Home Remedies For Wrinkles"   border="0" >
                          </a>                                        <br/>
                                        <!-- hitwebcounter.com --><a href="http://www.hitwebcounter.com" title="" target="_blank" style="font-family: font-size: px; color: #; text-decoration:  ;">
                          </a>
                      </div>
                  </div>
              </div>

            <div class="row col s12 m12 center" >
                <div class="col s2 m2">
                  <a href="//open.spotify.com/album/3uDU815maoAXlriF3XF5xM" target="_blank" >
                    <img src="assets/img/spotify.png"  class="img-icon responsive-img" alt="">
                  </a>
                </div>
                <div class="col s2 m2">
                  <a href="//www.facebook.com/rigovanco/" target="_blank" >
                    <img src="assets/img/facebokk-img.png"  class="img-icon responsive-img"  alt="">
                  </a>
                </div>
                <div class="col s2 m2">
                  <a href="//www.instagram.com/rigovanco/" target="_blank" >
                    <img src="assets/img/instagram.png"   class="img-icon responsive-img" alt="">
                  </a>
                </div>
                <div class="col s2 m2">
                  <a href="//www.youtube.com/watch?v=0FYUukkAfQM&list=PLNL6_utuJvrc9U9mtPdwcoqLOvMfRkMC-" target="_blank" >
                    <img src="assets/img/youtube.png"   class="img-icon responsive-img" alt="">
                  </a>
                </div>
                <div class="col s2 m2">
                    <a href="//twitter.com/rigovanco" target="_blank" >
                      <img src="assets/img/twiter2.png"   class="responsive-img twiter" alt="">
                    </a>
                  </div>
            </div>
          </div>
  </footer>
