.card-sub{
  width: 55rem;
  height: 93%;
  border: 1px solid;
  margin-top: 8px;
}
.btn_delete{
  margin-left: 1rem!important;
}
.artists{
  width: 20rem !important;
  height: 54rem !important;
}
.card-panel{
  width: 55rem;
  height: 36.5rem;
  border: 1px solid;
  height: 23rem !important;

}
.margen{
  margin-right: 6rem !important;
}
.valign-wrapper{
  border: 1px solid;

}
.img_artis{
  margin-top: 14px;
  width: 106%;
  height: 288px;
  border: 1px solid;
  margin-left: -8px;

}
#table{
  color:black !important;
}
