
<div class="section">
    <div class="container">
        <div class="row">
            <div class="carousel carousel-slider">
                <a class="carousel-item" href="#one!"><img src="assets/img/DSC_0211.jpg"></a>
                <a class="carousel-item" href="#two!"><img src="assets/img/DSC_0207.jpg"></a>
                <a class="carousel-item" href="#three!"><img src="assets/img/DSC_0165.jpg"></a>
                <a class="carousel-item" href="#four!"><img src="assets/img/DSC_0196.jpg"></a>
                <a class="carousel-item" href="#four!"><img src="assets/img/DSC_0162.jpg"></a>
                <a class="carousel-item" href="#four!"><img src="assets/img/DSC_0179.jpg"></a>

            </div>
        </div>
    </div>
</div>
