.btn_delete{
  margin-left: 1rem!important;
}
.artists{
  width: 20rem !important;
  height: 54rem !important;
}
.card-panel{
  width: 17rem;
   height: 18rem;

}
.margen{
  margin-right: 6rem !important;
}
.img_artis{
  width: 100%;
  height: 100px;
}
