<div class="col s12 m12 midiv">
      <h4 class="center">{{title}}</h4>
    <div class="row videos col l12">
      <div class="col l4  m4 responsive-video">
          <youtube-player  [videoId]="id" class="responsive-video" (ready)="savePlayer($event)" (change)="onStateChange($event)"
         ></youtube-player>
      </div>
      <div class="col l4 m4 responsive-video">
          <youtube-player [videoId]="id2" class="responsive-video" (ready)="savePlayer($event)" (change)="onStateChange($event)"
         ></youtube-player>
      </div>
      <div class="col l4 m4 responsive-video">
          <youtube-player [videoId]="id3" class="responsive-video" (ready)="savePlayer($event)" (change)="onStateChange($event)"
         ></youtube-player>
      </div>
    </div>
</div>
